*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bs-body-bg: #141414;
  --bs-secondary: #666666;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(to top, var(--bs-body-bg) 92%, rgba(0, 0, 0, 1) 100%), url(...);
}

/* HOMEPAGE */

nav .btn {
  border: none;
}

.btn-homepage {
  background-color: var(--bs-body-bg);
  border: 1px solid var(--bs-secondary);
  padding: 0.4em 1em;
  font-weight: bold;
  color: var(--bs-secondary);
}

.btn-homepage:hover {
  background-color: black;
  color: white;
}

.dropdown .btn-homepage {
  color: #dee2e6;
}

.card {
  border: none;
}

.btn-footer:hover {
  background-color: black;
  color: white;
}

footer {
  margin-inline: auto;
  display: flex;
  max-width: 50%;
  margin-top: 10em;
  margin-bottom: 2em;
  color: #808080;
  font-size: 12px;
}

footer a {
  text-decoration: none;
  font-size: 14px;
  color: #808080;
  padding: 0.5em;
}

footer a:hover {
  color: #dee2e6;
}

/* PROFILE PAGE */

.profile-container {
  margin-top: 4em;
}

.img-container {
  width: 120px;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  object-fit: cover;
}

.section-title {
  background-color: var(--bs-secondary);
}

.btn-profile {
  background-color: var(--bs-body-bg);
  border: 1px solid var(--bs-secondary);
  padding: 0.4em 1em;
  color: var(--bs-secondary);
}

.btn-profile:hover {
  background-color: black;
  color: white;
}

.btn-profile2 {
  background-color: #333333;
}

.form-check-input[type="checkbox"] {
  border-radius: 0em;
  width: 30px;
  height: 30px;
}

.form-check .form-check-input {
  float: left;
  margin-left: -2em;
  margin-top: 0em;
}

.form-check-input:checked[type="checkbox"] {
  background-color: transparent;
  border-color: var(--bs-secondary);
  width: 30px;
  height: 30px;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(17%);
  }

  .carousel-inner .carousel-item-start.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-17%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}
